// Header module


.header {
  // background-color: map-get($colors, primary);
  height: 11vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: $Montserrat;
  color: black;
  font-weight: lighter;
  font-size: 5vh;
  height: 80%;
  margin-left: 1vw;
}

@media (max-width: 480px) {
  .header * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: $Montserrat;
    color: black;
    font-weight: lighter;
    font-size: 8vw;
    height: 80%;
    margin-left: 1vw;
  }
}
