.mdi-icon {
  /* Set this to have the color match the current text color */
  fill: currentColor;
  /* Set this to have the icon size match the current font size */
  width: 1em;
  height: 1em;
  margin-right: 5px;
}


.modalBackground {
  width: 100vw;
  height: 170vh;
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  top: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 70vw;
  height: 66vh;
  background: white;
  opacity: initial;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 16%;
  font-size: 1em;
  padding-top: 20px;
}

.progressContainer {
    margin: 0 auto;
    padding: 0 20px;
    width: 88%;
    margin-bottom: 16px;
}

.completeProgressBar {
  height: 3vh;
  display: flex;
  flex-direction: column;
}

.progressBars {
  position: relative;
}

.progressBars * {
  position: absolute;
}

.progressText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  font-size: 3.5vw;
}



.textContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.activeHeader, .completedTodayHeader {
  font-weight: bolder;
  margin-bottom: 1vh;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}

.activeList, .completedList {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.activeItems, .completedTodayItems {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.active-item, .completed-item {
  border: 1px solid #ccc;
  margin-bottom: 1vh;
  height: 2vw;
  width: 24vw;
  padding: 1vw;
  font-size: 1.4vw;
  color: white;
  display: flex;
  background: linear-gradient(to top, #ff6a00, #ee0979);
}

.completed-item {
  background: linear-gradient(to bottom, #1488cc, #2b32b2);
}

@media (max-width: 600px) {



  .modalBackground {
    width: 100vw;
    height: 199vh;
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 70vw;
    height: 68vh;
    background: white;
    opacity: initial;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 13%;
    font-size: 1em;
    padding-top: 20px;
  }

  .textContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
  }

  .progressText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 4.7vw;
  }

  .active-item, .completed-item {
    border: 1px solid #ccc;
    margin-bottom: 1vh;
    height: 3.7vw;
    width: 54vw;
    padding: 1vw;
    font-size: 2.1vw;
    color: white;
    display: flex;
    background: linear-gradient(to top, #ff6a00, #ee0979);
  }

  .completed-item {
    background: linear-gradient(to bottom, #1488cc, #2b32b2);
  }
}

.progress {
  background-color: $color-progress-bg;
  height: .25em;
  position: relative;

  &-bar {
    animation-duration: 3s;
    animation-name: width;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 100% .25em;
    position: absolute;
    height: 10px;
  }

  &-shadow {
    background-image: linear-gradient(to bottom, #eaecee, transparent);
    height: 2em;
    position: relative;
    top: 54%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
  }

  &-background {
    position: absolute;
    border: 1px solid #d8bfbfc7;
    background-color: #fdf7f7f0;
    width: 100%;
    height: 9px;
    z-index: -1;
  }
}

.outline {
  width: 70%;
  height: 30px;
  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  padding: 10px;
}
