.modalBackground {
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  top: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 70vw;
  height: 60vh;
  background: white;
  opacity: initial;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 16%;
  font-size: 1em;
}

.progressContainer {
    margin: 0 auto;
    padding: 0 20px;
    width: 88%;
}

.completeProgressBar {
  height: 3vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.progressBars {
  position: relative;
}

.progressBars * {
  position: absolute;
}

.progress {
  background-color: $color-progress-bg;
  height: .25em;
  position: relative;

  &-bar {
    animation-duration: 3s;
    animation-name: width;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 100% .25em;
    position: absolute;
    height: 10px;
  }

  &-shadow {
    background-image: linear-gradient(to bottom, #eaecee, transparent);
    height: 2em;
    position: relative;
    top: 54%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
  }

  &-background {
    position: absolute;
    border: 1px solid #d8bfbfc7;
    background-color: #fdf7f7f0;
    width: 100%;
    height: 9px;
    z-index: -1;
  }
}

.outline {
  width: 70%;
  height: 30px;
  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  padding: 10px;
}
