// Navbar module

.navbar {
  &__item {
    text-decoration: none;
  }

  &__item--active {
    font-weight: 700;
  }

  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $Montserrat;
  border-top: 1px solid #111213;
  border-bottom: 1px solid #0e0d0d;
}

.navbar * {
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  font-size: 1.5vw;
}

.navbar__item:hover {
  color: #03A9F4;
}

@media (max-width: 480px) {
  .navbar {
    &__item {
      text-decoration: none;
    }

    &__item--active {
      font-weight: 700;
    }

    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $Montserrat;
    border-top: 1px solid #111213;
    border-bottom: 1px solid #0e0d0d;
  }

  .navbar * {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    font-size: 4vh;
    border-bottom: 1px solid black;
  }
}
