// Todo module.
.todo {
  display: inline-block;
  list-style-type: none;
  border: 1px solid #cccc;
  width: 28%;
  height: 19%;
  line-height: 40px;
  margin: 8px 8px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

  &--archieved {
    color: black;
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &--status-complete {
    text-decoration: line-through;
    color: white;
    background: #1488cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1488cc, #2b32b2);
  }

  &--filtered {
    display: none;
  }

  .error {
    color: black;
    font-size: 2vw;
    color: inherit;
    padding: 0;
    margin: 0;
    width: 90%;
    position: absolute;
    left: 5vw;
    top: 29vh;
  }

}

.items-grid {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 95%;
  height: 100vh;
  margin-bottom: 5vh;
  margin-left: 3vw;
}

.todos {
  margin: 9px auto 5px 10%;
  width: 100%;
  padding-left: 0;
  font-size: 0;
}

.button {
  border: none;
  background-color: transparent;
  color: inherit;
}

.todo-link {
  font-size: 2vw;
}


@media screen and (max-width: 1000px){
  .todo {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #cccc;
    width: 40%;
    height: 19%;
    line-height: 40px;
    margin: 8px 8px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: white;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    &--archieved {
      color: black;
      background: #ece9e6; /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &--status-complete {
      text-decoration: line-through;
      color: white;
      background: #1488cc; /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #1488cc, #2b32b2);
    }

    &--filtered {
      display: none;
    }
  }

  .items-grid {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 95%;
    height: 100vh;
    margin-left: 5vw;
  }

  .todos {
    margin: 9px auto 5px 10%;
    width: 100%;
    padding-left: 0;
    font-size: 0;
  }

  .todo-link {
    font-size: 2vw;
  }

  .button {
    border: none;
  }
}

@media screen and (max-width: 600px) {
.todo {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #cccc;
    width: 84%;
    height: 19%;
    line-height: 40px;
    margin: 8px 8px;
    box-sizing: border-box;
    text-align: center;
    // background-color: white;
    color: white;
    font-size: -2vw;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    &--status-complete {
      text-decoration: line-through;
      color: white;
      background: #1488cc; /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #1488cc, #2b32b2);
    }

    &--archieved {
      color: black;
      background: #ece9e6; /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &--filtered {
      display: none;
    }
  }

  .items-grid {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 95%;
    height: 100vh;
    margin-left: 5vw;
  }

  .todos {
    margin: 9px auto 5px 10%;
    width: 100%;
    padding-left: 0;
    font-size: 0;
  }

  .todo-link {
    font-size: 4vw;
  }

  .button {
    border: none;
    pointer-events: none;
    z-index: 1;
  }
}

#error.error {
  color: black;
  font-size: 1.3vw;
  padding: 0;
  margin: 0;
  width: 90%;
  position: absolute;
  left: 5vw;
  top: 31vh;
  margin-top: 1vh;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
}
